<div class="container">

  <div class="nav-bar">
    <a href="/cocktails"><div class="btn btn-primary">Back to menu</div></a>
    <a href="/cocktails/new"><div class="btn btn-primary">New cocktail</div></a>
  </div>

  <div class="title">
    <h1>Cocktails</h1>
    <h3>Venez savourer les cocktails merveilleux, les cocktails savoureux. Oui ! les cocktails pleins de poils de chats... </h3>
  </div>

  <div class="cards jumbotron">
    <% @cocktails.each do |cocktail| %>
      <a href="/cocktails/<%=cocktail.id%>">
        <div =  class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photos, height: 300, width: 400, crop: :fill %>')">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
        </div>
      </a>
    <% end %>
  </div>

</div>
