<div class="container">

  <div class="nav-bar">
    <a href="/cocktails"><div class="btn btn-primary">Back to menu</div></a>
    <a href="/cocktails/new"><div class="btn btn-primary">New cocktail</div></a>
  </div>

  <h1>New dose</h1>

  <%= simple_form_for [@cocktail, @dose]  do |f| %>
    <%= f.association :ingredient, as: :radio_buttons %>
    <%= f.input :description %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>

</div>
