.container  {
}

.nav-bar {
  position: sticky;
  top: 16px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #F4F4F4;
  margin: 16px;
  box-shadow: 2px 2px 5px 1px grey;
  border-radius: 5px;
}

.btn {
  margin: 8px;
}
