// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  margin: 50px 0 50px 0 ;
  h1 {
    font-size: 60px;
    font-family: serif;
    margin: auto 0;
  }
}
